<!DOCTYPE html>
<html>
<head>
  <title>Bem-vindo</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="container">
    <div class="form-header">Acesso do Professor</div>
    <form action="/register" method="POST">
      <input name="username" placeholder="Usuário" required>
      <input name="password" type="password" placeholder="Senha" required>
      <button type="submit">Cadastrar</button>
      {{#error}}<p>{{error}}</p>{{/error}}
    </form>
  </div>
  <a href="/login">Já tem conta? Faça login</a>
</body>
</html>
